@font-face {
	font-family: gambetta;
	src: url(../../fonts/Gambetta-Variable.ttf);
}

* {
	font-family: gambetta !important;
}

.tooltip-inner {
	font-weight: 600;
}

.card-text a {
	color: black;
	text-decoration-color: black !important;
}
.card-text a:hover {
	color: black !important;
}

/* CSS by Nami */
.shadow-offcanvas::after {
	box-shadow: inset 1px 10px 30px 10px rgba(87, 104, 62, 0.9);
	content: "";
	display: block;
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
}
.img-bg-offCanvas {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	/*background: url(/images/midev/background-01.png);*/
	/*background-repeat: no-repeat;*/
	/*background-attachment: fixed;*/
	/*background-position: center;*/
	/*-webkit-background-size: cover;*/
	/*-moz-background-size: cover;*/
	/*-o-background-size: cover;*/
	/*background-size: contain;*/
	/*background-repeat: no-repeat;*/
	/*width: 100%*/
}
.bg-green-color {
	background-color: rgb(69, 84, 50) !important;
}
.offcanvas-width-75 {
	--bs-offcanvas-width: 75% !important;
}
.ease-in-out-offcanvas {
	--bs-offcanvas-transition: transform 1s ease-in-out !important;
}
.btn-close-off-canvas {
	color: white !important;
}
.offcanvas-width-50 {
	--bs-offcanvas-width: 50% !important;
}
.background-militarty-color {
	background-color: #57683e !important;
}
.mobile-landscape-font-color {
	color: #57683e !important;
}
.img-thumbnail {
	background-color: transparent !important;
	/*border: none !important;*/
	border-width: 3px !important;
	border-radius: 0px !important;
}

.phone {
	height: 50px;
	width: 100px;
	border: 3px solid white;
	border-radius: 10px;
	/*animation: rotate 1.5s ease-in-out infinite alternate;*/
	/* display: none; */
}
@keyframes footerHover {
	from {
		transform: scale(1) rotate(0deg);
	}
	to {
		transform: scale(1) rotate(-90deg);
	}
}
.icon-mobile-rotate {
	top: 20%;
	left: 20%;
	/*transform: scaleX(-1);*/
	/*transition: all 2s ease;*/
	/*animation: flipThenBounce 3s ease infinite;*/
	/*transition: opacity 2s;*/
	/*opacity: 1;*/
	/*font-size: 15vw !important;*/
	/*transform: scaleX(-1);*/
	/*rotate(-90deg)*/
	/*animation-name: flipThenBounce;*/
	/*animation-duration: 5s;*/
	/*animation-iteration-count:  infinite;*/
	animation-name: zoomIn, footerHover, zoomOut;
	animation-duration: 2s, 3s, 2s;
	animation-iteration-count: 1, 3, 1;
	animation-delay: 0s, 2s, 10s;
}

.icon-mobile-thumb-up {
	animation-name: zoomIn;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-delay: 6s;
}
@keyframes mobileFadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		display: none;
	}
}
@keyframes flipThenBounce {
	0% {
		transform: scale(1) rotate(0deg);
		/*font-size: 30vw*/
		/*opacity: 1;*/
	}
	100% {
		transform: scale(1) rotate(-90deg);
		/*height: 0;*/
		/*opacity: 0;*/
		/*font-size: 30vw*/
	}
}
@media only screen and (min-width: 200px) {
	.mobile-btn-text-size {
		font-size: 0.5rem !important;
	}
	.padding-buttom-4-sm {
		padding-bottom: 1.5rem !important;
	}
	.shadow-body-inset::after {
		box-shadow: inset -1px 20px 30px 2px rgba(69, 84, 50, 0.9);
		content: "";
		display: block;
		height: 100%;
		position: absolute;
		top: 0;
		width: 100%;
	}
	.footermain {
		position: relative;
		/*background: rgb(40, 61, 39);*/
		/*width: 100%;*/
		-moz-box-shadow: 0 -5px 6px rgba(0, 0, 0, 0.9);
		-webkit-box-shadow: 0 -5px 6px rgba(0, 0, 0, 0.5);
		box-shadow: 10px -20px 20px 10px rgba(69, 84, 50, 0.7);
		/*rgb(40, 61, 39,0.5)*/
		/*#283D27*/
	}
	.footerinner {
		box-shadow: 10px -10px 10px 5px rgba(69, 84, 50, 0.9);
		/*height: 150px;*/
		/*width: 960px;*/
		position: relative;
		margin: 0 auto;
	}
}
@media only screen and (min-width: 479px) {
	.mobile-btn-text-size {
		font-size: 0.6rem !important;
	}
	.padding-buttom-4-sm {
		padding-bottom: 1.5rem !important;
	}
	.top-position-modal-5 {
		top: 5% !important;
	}
	.shadow-body-inset::after {
		box-shadow: inset -1px 30px 30px 10px rgba(69, 84, 50, 0.9);
		content: "";
		display: block;
		height: 100%;
		position: absolute;
		top: 0;
		width: 100%;
	}
	.footermain {
		position: relative;
		/*background: rgb(40, 61, 39);*/
		/*width: 100%;*/
		-moz-box-shadow: 0 -5px 6px rgba(0, 0, 0, 0.9);
		-webkit-box-shadow: 0 -5px 6px rgba(0, 0, 0, 0.5);
		box-shadow: 10px -20px 20px 25px rgba(69, 84, 50, 0.7);
		/*rgb(40, 61, 39,0.5)*/
		/*#283D27*/
	}
	.footerinner {
		box-shadow: 10px -10px 10px 10px rgba(69, 84, 50, 1);
		/*height: 150px;*/
		/*width: 960px;*/
		position: relative;
		margin: 0 auto;
	}
}
@media only screen and (min-width: 767px) {
	.mobile-btn-text-size {
		font-size: 0.75rem !important;
	}
	.top-position-modal-5 {
		top: 5% !important;
	}
	.shadow-body-inset::after {
		box-shadow: inset -1px 30px 30px 20px rgba(69, 84, 50, 0.9);
		content: "";
		display: block;
		height: 100%;
		position: absolute;
		top: 0;
		width: 100%;
	}
	.footermain {
		position: relative;
		/*background: rgb(40, 61, 39);*/
		/*width: 100%;*/
		-moz-box-shadow: 0 -5px 6px rgba(0, 0, 0, 0.9);
		-webkit-box-shadow: 0 -5px 6px rgba(0, 0, 0, 0.5);
		box-shadow: 10px -20px 20px 50px rgba(69, 84, 50, 0.7);
		/*rgb(40, 61, 39,0.5)*/
		/*#283D27*/
	}
	.footerinner {
		box-shadow: 10px -10px 10px 25px rgba(69, 84, 50, 1);
		/*height: 150px;*/
		/*width: 960px;*/
		position: relative;
		margin: 0 auto;
	}
}
@media only screen and (min-width: 992px) {
	.mobile-btn-text-size {
		font-size: 0.75rem !important;
	}
	.shadow-body-inset::after {
		box-shadow: inset 1px 30px 30px 40px rgba(69, 84, 50, 0.9);
		content: "";
		display: block;
		height: 100%;
		position: absolute;
		top: 0;
		width: 100%;
	}
	.footermain {
		position: relative;
		/*background: rgb(40, 61, 39);*/
		/*width: 100%;*/
		-moz-box-shadow: 0 -5px 6px rgba(0, 0, 0, 0.9);
		-webkit-box-shadow: 0 -5px 6px rgba(0, 0, 0, 0.5);
		box-shadow: 10px -20px 20px 100px rgba(69, 84, 50, 0.7);
		/*rgb(40, 61, 39,0.5)*/
		/*#283D27*/
	}
	.footerinner {
		box-shadow: 10px -10px 20px 50px rgba(69, 84, 50, 1);
		/*height: 150px;*/
		/*width: 960px;*/
		position: relative;
		margin: 0 auto;
	}
}
@media only screen and (min-width: 1200px) {
	.mobile-btn-text-size {
		font-size: 1.25rem !important;
	}
	.shadow-body-inset::after {
		box-shadow: inset 1px 30px 30px 40px rgba(69, 84, 50, 0.9);
		content: "";
		display: block;
		height: 100%;
		position: absolute;
		top: 0;
		width: 100%;
	}
	.footermain {
		position: relative;
		/*background: rgb(40, 61, 39);*/
		/*width: 100%;*/
		-moz-box-shadow: 0 -5px 6px rgba(0, 0, 0, 0.9);
		-webkit-box-shadow: 0 -5px 6px rgba(0, 0, 0, 0.5);
		box-shadow: 10px -20px 20px 100px rgba(69, 84, 50, 0.7);
		/*rgb(40, 61, 39,0.5)*/
		/*#283D27*/
	}
	.footerinner {
		box-shadow: 10px -10px 20px 50px rgba(69, 84, 50, 1);
		/*height: 150px;*/
		/*width: 960px;*/
		position: relative;
		margin: 0 auto;
	}
}
@media only screen and (min-width: 1400px) {
	.shadow-body-inset::after {
		box-shadow: inset 1px 30px 30px 40px rgba(69, 84, 50, 0.9);
		content: "";
		display: block;
		height: 100%;
		position: absolute;
		top: 0;
		width: 100%;
	}
	.footermain {
		position: relative;
		/*background: rgb(40, 61, 39);*/
		/*width: 100%;*/
		-moz-box-shadow: 0 -5px 6px rgba(0, 0, 0, 0.9);
		-webkit-box-shadow: 0 -5px 6px rgba(0, 0, 0, 0.5);
		box-shadow: 10px -20px 20px 100px rgba(69, 84, 50, 0.7);
		/*rgb(40, 61, 39,0.5)*/
		/*#283D27*/
	}
	.footerinner {
		box-shadow: 10px -10px 20px 50px rgba(69, 84, 50, 1);
		/*height: 150px;*/
		/*width: 960px;*/
		position: relative;
		margin: 0 auto;
	}
}
.opBackground1 {
	/*height:300px;*/
	/*width:300px;*/
	/*border:1px solid black;*/
	/*font-size:30px;*/
	/*background: linear-gradient(130deg, #ff7e00, #ffffff, #5cff00);*/
	/*background: linear-gradient(90deg,rgb(0,0,0,0.2), rgba(0,0,0,0.5), rgb(255,255,255,0.2));*/
	background: rgba(0, 0, 0, 0.5) !important;
	border-radius: 5px;
	margin: 0px;
	padding: 0px;
	line-height: 200%;
	background-size: 200% 200%;
	font-family: "Times New Roman", cursive !important;
	font-size: 1.5vw !important;
	/*background-color: chocolate;*/
	/*-webkit-animation: Animation 5s ease infinite;*/
	/*-moz-animation: Animation 5s ease infinite;*/
	/*animation: Animation 5s ease infinite;*/
}

@-webkit-keyframes Animation {
	0% {
		background-position: 10% 0%;
	}
	50% {
		background-position: 91% 100%;
	}
	100% {
		background-position: 10% 0%;
	}
}
@-moz-keyframes Animation {
	0% {
		background-position: 10% 0%;
	}
	50% {
		background-position: 91% 100%;
	}
	100% {
		background-position: 10% 0%;
	}
}
@keyframes Animation {
	0% {
		background-position: 10% 0%;
	}
	50% {
		background-position: 91% 100%;
	}
	100% {
		background-position: 10% 0%;
	}
}
#myTooltip {
	display: inline-block;
	/*padding: 2px;*/
	padding-right: 10px;
	padding-left: 10px;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	/*border: 1px solid white;*/
	margin: 4px;
	/*border: 2px solid rgba(255, 255, 230, .9);*/
	/*background-clip:padding-box;*/
	position: absolute;
	display: none;
}

#myTooltip1 {
	position: absolute;
	--r: 30px; /* control the radius */
	--h: 50px; /* control the height of the tail */
	--p: 30%; /* control the position of the tail */

	padding: var(--r);
	border-bottom: var(--h) solid #0000;
	--m: /* adjust the angles of the 1st conic-gradient to control the shape */ conic-gradient(
				from 30deg at var(--p) 100%,
				#0000,
				#000 1deg 30deg,
				#0000 31deg
			)
			0 100%/100% calc(100% - var(--r)) no-repeat,
		conic-gradient(
				at calc(var(--r) / 2) calc(var(--r) / 2),
				#000 270deg,
				#0000 0
			)
			0 0 / calc(100% - var(--r) / 2) calc(100% - var(--r) / 2) padding-box,
		radial-gradient(50% 50%, #000 98%, #0000) 0 0 / var(--r) var(--r) space
			padding-box;
	-webkit-mask: var(--m);
	mask: var(--m);

	margin: 50px auto;
	max-width: 350px;
	font-size: 20px;
	background: linear-gradient(135deg, #fe6d00, #1384c5) border-box;
	color: #fff;
	display: inline-block;
}

#myTooltip::before {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}

/*.area-css {*/
/*    fill: white;*/
/*    fill-opacity: 0.1;*/

/*}*/

/*::-webkit-scrollbar {*/
/*    background: red;*/
/*}*/
.img-pieters {
	background-image: url("/images/midev/Ontvangsthal-01.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 900px;
	/*background-size: 100% 100%;*/
	/*height: 900px;*/
	/*width: 100%;*/
}

img-background {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.container1 {
	/*border: 1px solid #DDDDDD;*/
	width: 100%;
	height: 100%;
	position: relative;
}

.background-pieters {
	background-image: url("/images/Ontvangsthal-01-2.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	height: 100%;
}

.background-map {
	background-image: url("/images/Plattegrond-013.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	height: 100%;
}

.poly-css {
	fill: white;
	fill-opacity: 0.3;
	stroke: white;
	stroke-opacity: 0.5;
	stroke-width: 2;
	cursor: pointer;
	/*-webkit-transition: fill-opacity 3s; !* Safari *!*/
	/*transition: fill-opacity 3s;*/
	transition: all 3s ease;
}

.poly-css:hover {
	fill-opacity: 0.1;
	stroke-opacity: 0.9;
	stroke-width: 6;
}

.poly-pieters-css:hover {
	fill-opacity: 0.1;
	stroke-opacity: 0.9;
	stroke-width: 6;
}

.poly-pieters-css {
	fill: white;
	fill-opacity: 0.3;
	stroke: white;
	stroke-opacity: 0.5;
	stroke-width: 2;
	cursor: pointer;
	/*-webkit-transition: fill-opacity 3s; !* Safari *!*/
	/*transition: fill-opacity 3s;*/
	transition: all 3s ease;
}

.tag-map {
	z-index: 1000;
	border: 2px solid rgba(255, 255, 230, 0.9);
	border-radius: 10px;
	left: 15%;
	right: 20%;
	background: rgba(0, 0, 0, 0.5);
	float: left;
	position: absolute;
}

/*.modal-content {*/
/*    background: rgba(0, 0, 0, .5) !important;*/
/*    padding: 5px !important;*/
/*    color: #FFFFFF !important;*/
/*}*/

/*.modal.fade .modal-dialog {*/
/*    transition: transform 3s ease-out;*/
/*}*/

.tag {
	width: 50%;
	height: auto;
	float: left;
	position: absolute;
	left: 25%;
	right: 20%;
	top: 10px;
	z-index: 1000;
	background: rgba(0, 0, 0, 0.5);
	padding: 5px;
	color: #ffffff;
	font-weight: bold;
	font-size: 12px;
	border: 2px solid rgba(255, 255, 230, 0.9);
	border-radius: 5px;
}

.tag-pieters {
	width: 40%;
	height: auto;
	float: left;
	position: absolute;
	left: 50%;
	right: 10%;
	top: 20px;
	z-index: 1000;
	background: rgba(0, 0, 0, 0.5);
	padding: 5px;
	color: #ffffff;
	font-weight: bold;
	/*font-size: 15px;*/
	border: 2px solid rgba(255, 255, 230, 0.9);
	border-radius: 10px;
}

.mobile-text-size {
	font-size: 2.5vw !important;
}
.bg-text-white {
	background: rgba(0, 0, 0, 0.4) !important;
	/*opacity: 0.8;*/
}

.card-img-top {
	width: 100%;
	height: auto;
}

.card-pieters {
	background: rgba(0, 0, 0, 0.5) !important;
}

.ss {
	background: url(/images/Plattegrond-013.jpg) no-repeat;
	/*background-size: cover;*/
	background-position: center;
}

.tag1 {
	width: auto;
	height: auto;
	display: block;
	float: left;
	position: absolute;
	/*left: 15%;*/
	/*right: 20%;*/
	/*top: 10px;*/
	/*z-index: 1000;*/
	/*background: transparent;*/
	background: rgba(0, 0, 0, 0.5);
	padding: 5px;
	color: #ffffff;
	font-weight: bold;
	font-size: 1vm;
	/*border: 2px solid rgba(255, 255, 230, .9);*/
	/*border-radius: 10px;*/
}

.button-green {
	background-color: transparent;
}

/*.map {*/
/*    background-image: url( './images/Keuken-01.svg' );*/
/*}*/
.poly-css {
	fill: white;
	fill-opacity: 0.3;
	stroke: white;
	stroke-opacity: 0.5;
	stroke-width: 2;
	cursor: pointer;
	/*-webkit-transition: fill-opacity 3s; !* Safari *!*/
	/*transition: fill-opacity 3s;*/
	transition: all 3s ease;
}

.poly-css:hover {
	fill-opacity: 0.1;
	stroke-opacity: 0.9;
	stroke-width: 6;
}
.polygon1 {
	/*animation-name: zoomIn;*/
	/*animation-duration:3s*/
}
.polygon-animate {
	/*animation-name: zoomIn;*/
	/*animation-duration:3s*/
}
.polygon {
	/*z-index: 0;*/
	height: 100%;
	width: 100%;
	position: absolute;
	bottom: 0;
	right: 0;
	/*fill: white;*/
	/*fill-opacity: 0.3;*/
	/*stroke: white;*/
	/*stroke-opacity: 0.5;*/
	/*stroke-width: 2;*/
	/*cursor: pointer;*/
	/*transition: all 3s ease;*/
	opacity: 0;
	/*animation: fadein 2s  ease-in  alternate infinite;*/
	/*animation-delay: 0.5s;*/
}
.info-button-fadeIn {
	opacity: 1;
	/*animation: fadeinInfo 2s  ease-in  alternate infinite;*/
	transition: all 3s ease;
	/*animation-delay: 1s;*/
}
.info-button-fadeIn:hover {
	animation: none;
	opacity: 1;
	transition: all 3s ease;
}
@keyframes fadeinInfo {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.text-decor {
	text-decoration: underline wavy white;
}

.li-dash::before {
	content: "— ";
}
ul {
	margin: 0;
}
ul.dashed {
	list-style-type: none;
}
ul.dashed > li {
	list-style-position: inside;
	/*text-indent: 20px;*/
	text-indent: -1em;
	padding-left: 1.5em;
}
ul.dashed > li:before {
	content: "-";
	text-indent: 5px;
}
.ul-bullet {
	list-style-type: disc !important;
	padding-left: 1em !important;
	margin-left: 1em;
}
.ul-bullet-empty {
	list-style-type: circle !important;
	padding-left: 1em !important;
	margin-left: 1em;
	list-style: inside;
}
.li-bullet {
	list-style-type: disc;
}
polygon {
	fill: white;
	fill-opacity: 0.4;
	stroke: white;
	stroke-opacity: 0.6;
	stroke-width: 1;
	cursor: pointer;
	/*transition: all 3s ease;*/
	/*-webkit-transition: all 3s ease;*/
}
polygon:hover {
	fill-opacity: 0;
	stroke-opacity: 0.9;
	stroke-width: 2;
	stroke: white;
	transition: all 3s ease;
}
.svg1 {
	width: 100%;
	height: auto;
}

.btn:focus {
	outline: none;
	box-shadow: none;
}

.btn-building {
	/*position: absolute;*/
	/*top: 9%;*/
	/*left: 2%;*/
	color: white;
	/*font-size: 16px;*/
	border-radius: 5px;
	text-align: center;
	/*z-index: 1;*/
}
.affix {
	top: 30px;
	z-index: 9999 !important;
}

.btn-group-div {
	/*position: -webkit-sticky; !* Safari *!*/
	/*position: sticky;*/
	top: 5%;
	left: 2%;
}
.btn-map {
	/*top: 5%;*/
	/*left: 2%;*/
	/*position: absolute;*/
	/*color: white;*/
	/*opacity: 1.0;*/
}

.btn-up-staires {
	top: 52%;
	left: 38%;
	position: absolute;
	opacity: 1;
}

.btn-into-kitchen {
	top: 35%;
	left: 69%;
	position: absolute;
	opacity: 1;
}

.btn-patient-room {
	top: 35%;
	left: 6%;
	position: absolute;
	font-size: 60px;
	color: white;
	opacity: 1;
}

.fade-scale {
	transform: scale(0);
	opacity: 0;
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

.fade-scale.show {
	opacity: 1;
	transform: scale(1);
}
.btn-back-to-hall {
	/*top: 13%;*/
	/*left: 2%;*/
	/*position: absolute;*/
	/*font-size: 60px;*/
	color: white;
	opacity: 1;
}

.no-borders {
	border: none !important;
	outline: none !important;
}

.btn-map:hover {
	color: white;
	opacity: 0.5;
}

.go-to-building {
	float: left;
	position: absolute;
	left: 80%;
	top: 60%;
	z-index: 1000;
	background-color: transparent;
	padding: 5px;
	color: white;
	font-weight: bold;
}

.go-to-ontvangasthal {
	float: left;
	position: absolute;
	left: 30%;
	top: 40%;
	z-index: 1000;
	background-color: transparent;
	padding: 5px;
	color: white;
	font-weight: bold;
}

.back-to-ontvangasthal {
	float: left;
	position: absolute;
	left: 30%;
	top: 40%;
	z-index: 1000;
	background-color: transparent;
	padding: 5px;
	color: white;
	font-size: 40px;
	font-weight: bold;
}

/*.tooltip > .tooltip-inner {*/
/*    background-color: transparent !important;*/
/*    !*--bs-tooltip-bg: var(--bs-success);*!*/
/*}*/
/*.tooltip >.tooltip-inner {*/
/*    background-color: red;*/
/*    color: #fff;*/
/*    border: 2px solid #efefef;*/
/*    font-weight: 300;*/
/*    font-size: 14px;*/
/*    border-radius: 10px;*/
/*    padding: 15px 25px;*/
/*    max-width: 240px;*/
/*}*/

.tooltip .arrow:before {
	top: -3px;
	left: -12px;
	border-width: 0 12px 12px;
	z-index: -1;
	border-color: white;
}

.tooltip {
	/*--bs-tooltip-bg:  rgba(0, 0, 0, 0.5); !important;*/
	/*--bs-tooltip-bg:  red !important;*/
	--bs-tooltip-bg: rgba(0, 0, 0, 0.5) !important;
	--bs-tooltip-font-size: 1rem !important;
	/*font-family: 'Unlock', cursive!important;*/
	font-family: "Times New Roman", cursive !important;
}

.tooltip-mob {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
	visibility: visible;
}
.tooltip-mob .tootip-mob-text {
	visibility: hidden;
	/*width: 120px;*/
	background: rgba(0, 0, 0, 0.5) !important;
	line-height: 200%;
	background-size: 200% 200%;
	font-size: 1.5vw !important;
	font-family: "Times New Roman", cursive !important;
	/*background-color: black;*/
	/*color: #fff;*/
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	top: 150%;
	left: 50%;
	margin-left: -60px;
	visibility: visible;
}
.tooltip-mob .tootip-mob-text.bottomArrow::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.5) transparent transparent transparent;
	visibility: visible;
}

.tooltip-mob .tootip-mob-text.topArrow::after {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent rgba(0, 0, 0, 0.5) transparent;
	visibility: visible;
}
.tooltip-mob .tootip-mob-text.leftArrow::after {
	content: "";
	position: absolute;
	top: 30%;
	right: 100%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent rgba(0, 0, 0, 0.5) transparent transparent;
	visibility: visible;
}
.tooltip-mob .tootip-mob-text.rightArrow::after {
	content: "";
	position: absolute;
	top: 30%;
	left: 108%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent transparent rgba(0, 0, 0, 0.5);
	visibility: visible;
}

/*.tooltip-inner  {*/
/*    background-color: blue !important;*/
/*}*/

/*.custom-tooltip {*/
/*    --bs-tooltip-bg: var(--bd-violet-bg);*/
/*    --bs-tooltip-color: var(--bs-white);*/
/*}*/
.icon-white {
	color: white;
	font-size: 1vw;
}

.hide-on-load {
	display: none !important;
}

/*css to move up and down*/

.move-up-down {
	animation: MoveUpDown 5s linear infinite;
}

@keyframes MoveUpDown {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-20px);
	}
}

.move-right-left {
	animation: MoveRightLeft 5s linear infinite;
}

@keyframes MoveRightLeft {
	0%,
	100% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-20px);
	}
}
